@page
@model IST440Team3.Pages.PDFs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transformation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transformation.CaseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transformation.CaseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transformation.EvidenceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transformation.EvidenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transformation.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transformation.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transformation.OrigionalLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transformation.OrigionalLanguage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transformation.OutputLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transformation.OutputLanguage)
        </dd>        
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Transformation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
