@page
@model IST440Team3.Pages.PDFs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    This is the database containing all converted pieces of evidence and a copy of the origional itself.
</p>
<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transformation[0].CaseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transformation[0].EvidenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transformation[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transformation[0].OrigionalLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transformation[0].OutputLanguage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transformation) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvidenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrigionalLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutputLanguage)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
